<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35"/>
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
 <uses-feature android:name="android.software.leanback" android:required="false"/>
 <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
 <queries><package android:name="it.carmine.ritagecko"/></queries>
 <application android:label="R. ITA TV" android:theme="@style/AppTheme" android:icon="@drawable/icon" android:banner="@drawable/banner" android:usesCleartextTraffic="true" android:allowBackup="false" android:supportsRtl="true">
  <activity android:name="it.carmine.streamplayer.GomstreamActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <activity android:name="it.carmine.streamplayer.GomstreamPlayerActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <activity android:name="it.carmine.streamplayer.CloudActivity" android:exported="false"/>
  <activity android:name="it.carmine.streamplayer.BackupActivity" android:exported="false"/>
  <activity android:name="it.carmine.streamplayer.TvSearchActivity" android:exported="false"/>
  <activity android:name="it.carmine.streamplayer.CbCatalogueActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <activity android:name="it.carmine.streamplayer.RaiPlayActivity" android:exported="false"/>
  <activity android:name="it.carmine.streamplayer.RaiAccountActivity" android:exported="false"/>
  <activity android:name="it.carmine.streamplayer.VodActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <activity android:name="it.carmine.streamplayer.VodSettingsActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <activity android:name="it.carmine.streamplayer.VodCatalogueActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <activity android:name="it.carmine.streamplayer.VodBrowserActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <activity android:name="it.carmine.streamplayer.VodPlayerActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden"/>
  <receiver android:name="it.carmine.streamplayer.UpdateDownloadReceiver" android:exported="false">
   <intent-filter><action android:name="android.intent.action.DOWNLOAD_COMPLETE"/></intent-filter>
  </receiver>
  <activity android:name="it.carmine.streamplayer.MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden" android:resizeableActivity="true">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/><category android:name="android.intent.category.LEANBACK_LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>
